apiVersion: v1
kind: Service
metadata:
  name: svc
  annotations:
    getambassador.io/config: |
      ---
      apiVersion: ambassador/v0
      kind:  Mapping
      name:  web-ui
      prefix: /
      service: web-ui-svc
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
